<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>status</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <h1>Dibya Dahal Product Task</h1>
        <a href="/all">Get all products</a>
        <a href="/getProduct">Get one Product</a>
        <a href="/inputform">Add a new Product</a>
        <a href="/updateform">Update Product Data</a>
        <a href="/removeproduct">Remove Product Data</a>
     </header>
    <main>
        <h2 class="<%= status.type %>"><%= header1 %></h2>
        <p class="<%= status.type %>"><%= status.message %></p>
    </main> 
</body>
</html>